*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 0.5rem;
}
/* HEADER */
#menu-header{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    position: relative;
    vertical-align: middle;
}

#personal-img{
    text-align: center;
    margin-top: 3rem;
}

#personal-img img{
    width: 60%;
    border-radius: 50%;
}

#menu{
    margin: 0.5rem;
    padding: 0.5rem;
}


#menu-header ul{
    list-style-type: none;
    margin: 0.3rem;
    padding: 0.3rem;
}

#menu-header ul li{
    
    
    margin: .5rem 0.2rem;
    padding: 0.2rem;
}
#menu-header ul li a{
    display: flex;
    justify-content: flex-start;
}
#menu-header ul li i{
    display: inline-block;
    width: 20px;
    margin: 0.2rem;
    text-align: center;
}

#menu-header ul li span{
    margin-left: 0.5rem;
    display: inline-block;
    font-size: 1rem;
    padding-bottom: 0.4rem;
}
#skills, #languages{
    margin: 0.5rem;
    padding: 0.5rem;
}

/* MAIN */
#general-informations{
    width: 75%;
    background-color: #f1f1f1;
    margin: 0.5rem;
}
#main-header{
    margin: 0.5rem;
    margin-top: 2rem;
}
.form-box{
    width: 100%;
    border: 1px solid #0F3669;
    padding: 0.5rem;
}

/* PROFİLE SECTION */
#general-informations section{
    margin: 0.5rem;
}
#profile-desc{
    text-align: justify;
    padding: 0.5rem;
}
#date-info{
    display: flex;
    justify-content: space-between;

}
.date-part{
    width: 48%;
}

.experience-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.experience-info, .education-info{
    padding: 0.5rem;
}
.experience-info .info-list, .education-info .info-list{
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
}
.experience-info .info-list .info-list-item{
    margin-left: 1.5rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
}

.education-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.education-info .info-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.reference-header, .reference-contact{
    padding: 0.5rem;
}
.reference-contact{
    display: flex;
    margin: 0.2rem;
}
.reference-contact .contact-item{
    display: flex;
    justify-content: flex-start;
    margin: 0.2rem;
}
.contact-item i{
    display: inline-block;
    width: 20px;
    margin: 0.75rem;
    text-align: center;
}
.contact-item span{
    display: inline-block;
    font-size: 1rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0.2rem;
    margin-right: 1rem;
}