/*TEXT CSS*/
.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-large{
    font-size: 1.75rem;
}

/* Background and Text Color */ 

.bg-dark-blue{
    background-color: #0F3669;
}

.text-light{
    color: #fff;
}
.text-dark-blue{
    color: #0F3669;
}

.fa-csharp:after{
    content: "C#";
    font-size: 1.25em;
    line-height: 0.25em;
    vertical-align: -0.075em;
    font-weight: 400;
    font-style: normal;
}

/*HORIZINTAL ROW*/

.row{
    width: 100%;
}
.hr-line-light:after{
    display: block;
    content:"";
    border-bottom: 1px solid #fff;
}
.hr-line-dark-blue:after{
    display: block;
    content:"";
    border-bottom: 1px solid #0f3669;
}

/* COLUMN */
.col-6{
    width: 50%;
}
.col-4{
    width: 37.5%;
}
.col-2{
    width: 12.5%;
}

/* MARGIN & PADDING */



/*BUTTONS*/
.btn{
    font-size: .75rem;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.25rem;
    text-align: center;
}
.btn-primary{
    background-color: #0F3669;
    color: #fff;
    border-radius: .25rem;
}
.btn-primary-outline{
    background-color: #fff;
    color: #0F3669;
    border: 1px solid #0F3669;
    border-radius: .25rem;
}
.btn-success{
    background-color: #28a745;
    color: #fff;
    border-radius: .25rem;
}
.btn-success-outline{
    background-color: #fff;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: .25rem;
}
.btn-danger{
    background-color: #dc3545;
    color: #fff;
    border-radius: .25rem;
}
.btn-danger-outline{
    background-color: #fff;
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: .25rem;
}
.btn-warning{
    background-color: #ffc107;
    color: #fff;
    border-radius: .25rem;
}
.btn-warning-outline{
    background-color: #fff;
    color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: .25rem;
}
.btn-info{
    background-color: #17a2b8;
    color: #fff;
    border-radius: .25rem;
}
.btn-info-outline{
    background-color: #fff;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: .25rem;
}
.btn-secondary{
    background-color: #17a2b8;
    color: #fff;
    border-radius: .25rem;
}
.btn-secondary-outline{
    background-color: #fff;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: .25rem;
}
.btn-dark{
    background-color: #17a2b8;
    color: #fff;
    border-radius: .25rem;
}
.btn-dark-outline{
    background-color: #fff;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: .25rem;
}


/*FORM ITEM*/
.form-group{
    width: 100%;
    display: block;
    padding: 0.2rem;
    margin: 0.2rem;
}

.form-control{
    width: 100%;
    font-size: 1.25rem;
}

.table-container{
    width: 100%;
    padding-right: 0.5rem;
}
.table-bordered{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #0F3669;
    border-collapse: collapse;
    
}

.table-bordered th, .table-bordered td{
    border: 1px solid #0F3669;
    padding: 0.2rem;
}